In [13]:
# %pip install simple-icd-10

Looking in indexes: http://pip.modelarts.private.com:8888/repository/pypi/simple
Collecting simple-icd-10
  Downloading http://pip.modelarts.private.com:8888/repository/pypi/packages/simple-icd-10/2.1.1/simple_icd_10-2.1.1-py3-none-any.whl (174 kB)
     |████████████████████████████████| 174 kB 38.1 MB/s eta 0:00:01
Installing collected packages: simple-icd-10
Successfully installed simple-icd-10-2.1.1
WARNING: You are using pip version 21.0.1; however, version 25.1.1 is available.
You should consider upgrading via the '/home/ma-user/anaconda3/envs/PyTorch-2.1.0/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
import os
import re
import numpy as np
import pandas as pd
from IPython.display import display
import simple_icd_10 as icd

In [2]:
DATA_DIR = "."
TABLE = "diagnoses_icd10.csv"

In [3]:
df = pd.read_csv(os.path.join(DATA_DIR, TABLE)).drop("Unnamed: 0", axis=1)

In [5]:
df.head()

,subject_id,hadm_id,seq_num,icd_code,icd_version,icd10_code,icd10_category
0,10000032,22595853,1,5723,9,K766,K76
1,10000032,22595853,2,78959,9,R188,R18
2,10000032,22595853,3,5715,9,K740,K74
3,10000032,22595853,4,07070,9,B1920,B19
4,10000032,22595853,5,496,9,J449,J44

In [6]:
icd10_categories = pd.DataFrame({"icd10_category": df["icd10_category"].unique()})

In [7]:
len(icd10_categories)

1757

In [11]:
icd10_categories["is_category"] = icd10_categories["icd10_category"].apply(lambda x: icd.is_category(x))

In [12]:
icd10_categories[~icd10_categories["is_category"]]

     icd10_category  is_category
17              Z66        False
40              Y93        False
41              Y92        False
43              Z79        False
47              V00        False
...             ...          ...
1626            M04        False
1630            N53        False
1695            R88        False
1698            Z69        False
1738            A91        False

[61 rows x 2 columns]

In [16]:
icd.get_description("R88")

ValueError: The code "R88" does not exist.

Since we cannot obtain descriptions for this codes, let's through out them

In [17]:
print(len(icd10_categories))
icd10_categories = icd10_categories[icd10_categories["is_category"]]
print(len(icd10_categories))

1757
1696

In [22]:
icd10_categories.drop("is_category", axis=1, inplace=True)

In [23]:
icd10_categories["description"] = icd10_categories["icd10_category"].apply(icd.get_description)

In [24]:
icd10_categories.head()

  icd10_category                                  description
0            K76                      Other diseases of liver
1            R18                                      Ascites
2            K74              Fibrosis and cirrhosis of liver
3            B19                  Unspecified viral hepatitis
4            J44  Other chronic obstructive pulmonary disease

In [25]:
icd10_categories.to_csv("icd10_categories_descriptions.csv")