In [60]:
import os
import itertools
from IPython.display import display

import numpy as np
import pandas as pd
import scipy.stats as sts

from tqdm import tqdm

pd.options.display.float_format = '{:.3f}'.format

In [7]:
STATISTIC = "../statistic/cat_co_matrix_conditional_prob.csv"
BERT = "../medbert/similarity_scores.csv"
MLM = "../mlm/mlm_results.csv"

In [10]:
statistic = pd.read_csv(STATISTIC).set_index("Unnamed: 0", drop=True)
bert = pd.read_csv(BERT).set_index("Unnamed: 0", drop=True)
mlm = pd.read_csv(MLM).set_index("Unnamed: 0", drop=True)

In [16]:
matrices = {
    "statistic": statistic,
    "bert": bert,
    "mlm": mlm
}

In [18]:
for k, v in matrices.items():
    print(k)
    display(v.head())

statistic

,K76,R18,K74,B19,J44,F31,F43,Z87,D69,E87,...,V45,V16,W99,P11,B56,W85,P07,A27,Y64,Y21
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
K76,1.000000,0.224081,0.238723,0.111313,0.135595,0.043288,0.062113,0.416242,0.362768,0.576664,...,0.0,0.0,0.0,0.0,0.000091,0.0,0.0,0.0,0.0,0.0
R18,0.429942,1.000000,0.347583,0.130518,0.128424,0.030187,0.053219,0.414413,0.396091,0.697958,...,0.0,0.0,0.0,0.0,0.000174,0.0,0.0,0.0,0.0,0.0
K74,0.528594,0.401128,1.000000,0.305276,0.172573,0.054571,0.069472,0.453685,0.475232,0.631091,...,0.0,0.0,0.0,0.0,0.000201,0.0,0.0,0.0,0.0,0.0
B19,0.233010,0.142395,0.288597,1.000000,0.155911,0.139349,0.144108,0.364173,0.302113,0.472682,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
J44,0.077499,0.038256,0.044545,0.042570,1.000000,0.051042,0.049275,0.527574,0.165445,0.462966,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

bert

,A01,A02,A03,A04,A05,A06,A07,A08,A09,A15,...,Z90,Z91,Z92,Z93,Z94,Z95,Z96,Z97,Z98,Z99
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
A01,1.000001,0.859075,0.666252,0.858970,0.823209,0.738721,0.829739,0.882886,0.872616,0.820204,...,0.805431,0.770934,0.720138,0.700661,0.752214,0.779754,0.763720,0.739030,0.708702,0.748625
A02,0.859075,1.000000,0.778066,0.973230,0.887739,0.864728,0.942118,0.934124,0.913692,0.822071,...,0.834017,0.822645,0.804432,0.820511,0.804258,0.787913,0.850432,0.855871,0.834248,0.813535
A03,0.666252,0.778066,1.000000,0.791396,0.790527,0.919051,0.805557,0.738944,0.729135,0.668764,...,0.776086,0.733131,0.760433,0.809154,0.733271,0.657126,0.758232,0.780746,0.834849,0.778442
A04,0.858970,0.973230,0.791396,1.000000,0.898024,0.869329,0.958388,0.949403,0.909557,0.811084,...,0.844010,0.828375,0.841727,0.840908,0.817086,0.789605,0.861209,0.881406,0.863679,0.832695
A05,0.823209,0.887739,0.790527,0.898024,0.999999,0.848472,0.881998,0.885303,0.877407,0.823802,...,0.887322,0.865898,0.805541,0.821158,0.816779,0.779478,0.833239,0.858138,0.860579,0.881463

mlm

,K76,R18,K74,B19,J44,F31,F43,Z87,D69,E87,...,V45,V16,W99,P11,B56,W85,P07,A27,Y64,Y21
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
K76,1.000000,0.037286,-0.139314,0.030739,0.061125,-0.056584,-0.046857,-0.008661,0.062071,0.031610,...,-0.016519,-0.015791,0.039260,-0.022507,0.020056,0.041265,-0.013206,-0.089645,-0.067003,-0.041003
R18,0.037286,1.000000,-0.077715,0.086276,-0.133544,-0.018843,0.044567,-0.019297,0.094231,0.026878,...,0.051554,0.011331,0.051270,-0.037043,-0.170789,-0.011409,0.050091,0.031272,-0.075029,0.094283
K74,-0.139314,-0.077715,1.000000,0.001034,0.132329,0.007132,0.052991,0.038699,0.092542,0.036709,...,0.033475,0.065028,-0.024733,0.070800,0.005683,-0.048808,-0.047571,-0.056380,0.045860,0.022726
B19,0.030739,0.086276,0.001034,1.000000,-0.078733,0.081823,0.089614,-0.030483,0.087073,0.052550,...,0.039613,0.007187,-0.066214,-0.074156,0.008833,0.002352,0.019035,0.008496,0.043292,-0.006928
J44,0.061125,-0.133544,0.132329,-0.078733,1.000000,-0.034519,-0.096522,-0.009462,-0.058668,0.020591,...,0.041303,-0.021650,0.039605,0.031206,-0.001196,-0.030451,0.026829,-0.037775,0.057277,-0.031454

In [19]:
intersection = None
for i, k in enumerate(matrices):
    if i == 0:
        intersection = set(matrices[k].index)
    else:
        intersection = intersection.intersection(set(matrices[k].index))

In [23]:
intersection = sorted(list(intersection))

In [24]:
len(intersection)

1696

In [26]:
intersection[:10]

['A01', 'A02', 'A03', 'A04', 'A05', 'A06', 'A07', 'A08', 'A09', 'A15']

In [28]:
for k, v in matrices.items():
    matrices[k] = v.loc[intersection, intersection]

In [29]:
for k, v in matrices.items():
    print(k)
    display(v.head(3))

statistic

,A01,A02,A03,A04,A05,A06,A07,A08,A09,A15,...,Z90,Z91,Z92,Z93,Z94,Z95,Z96,Z97,Z98,Z99
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
A01,1.000000,0.384615,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
A02,0.042735,1.000000,0.0,0.153846,0.0,0.0,0.000000,0.111111,0.017094,0.008547,...,0.153846,0.153846,0.119658,0.042735,0.068376,0.153846,0.119658,0.059829,0.119658,0.034188
A03,0.000000,0.000000,1.0,0.121212,0.0,0.0,0.030303,0.030303,0.060606,0.000000,...,0.030303,0.090909,0.060606,0.000000,0.000000,0.000000,0.060606,0.030303,0.000000,0.030303

bert

,A01,A02,A03,A04,A05,A06,A07,A08,A09,A15,...,Z90,Z91,Z92,Z93,Z94,Z95,Z96,Z97,Z98,Z99
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
A01,1.000001,0.859075,0.666252,0.858970,0.823209,0.738721,0.829739,0.882886,0.872616,0.820204,...,0.805431,0.770934,0.720138,0.700661,0.752214,0.779754,0.763720,0.739030,0.708702,0.748625
A02,0.859075,1.000000,0.778066,0.973230,0.887739,0.864728,0.942118,0.934124,0.913692,0.822071,...,0.834017,0.822645,0.804432,0.820511,0.804258,0.787913,0.850432,0.855871,0.834248,0.813535
A03,0.666252,0.778066,1.000000,0.791396,0.790527,0.919051,0.805557,0.738944,0.729135,0.668764,...,0.776086,0.733131,0.760433,0.809154,0.733271,0.657126,0.758232,0.780746,0.834849,0.778442

mlm

,A01,A02,A03,A04,A05,A06,A07,A08,A09,A15,...,Z90,Z91,Z92,Z93,Z94,Z95,Z96,Z97,Z98,Z99
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
A01,1.000000,-0.018797,-0.042938,-0.024817,-0.020855,0.004642,-0.048937,-0.064547,0.024388,-0.031082,...,-0.099685,-0.028115,-0.013494,0.059270,0.011796,-0.007725,-0.024729,-0.000450,-0.047812,0.000140
A02,-0.018797,1.000000,0.039588,0.097812,0.075885,0.064751,-0.003124,0.019575,-0.157935,-0.068024,...,0.102895,-0.070311,0.108191,-0.057879,-0.051683,-0.019016,0.024486,-0.023641,0.033538,0.032381
A03,-0.042938,0.039588,1.000000,0.101414,0.051633,-0.002320,-0.041885,-0.067136,-0.053193,-0.004977,...,-0.101502,-0.055271,-0.003056,0.078103,0.100169,0.003224,0.038598,-0.044728,-0.020860,0.087945

In [51]:
pearson = pd.DataFrame(data=np.ones((len(matrices), len(matrices))), columns=list(matrices.keys()), index=list(matrices.keys()))

In [52]:
spearman = pd.DataFrame(data=np.ones((len(matrices), len(matrices))), columns=list(matrices.keys()), index=list(matrices.keys()))

In [53]:
for corr_t, method in [(pearson, sts.pearsonr), (spearman, sts.spearmanr)]:
    for method1, method2 in tqdm(itertools.combinations(matrices.keys(), 2)):
        r = method(matrices[method1].values.flatten(), matrices[method2].values.flatten()).statistic
        corr_t.loc[method1, method2] = r
        corr_t.loc[method2, method1] = r

3it [00:00,  4.34it/s]
3it [00:04,  1.66s/it]

In [61]:
pearson

           statistic  bert   mlm
statistic      1.000 0.093 0.138
bert           0.093 1.000 0.023
mlm            0.138 0.023 1.000

In [62]:
spearman

           statistic  bert    mlm
statistic      1.000 0.169 -0.005
bert           0.169 1.000  0.002
mlm           -0.005 0.002  1.000